/* arvo-regular latin */
@font-face {
	font-family: 'Arvo';
	font-style: normal;
	font-weight: 400;
	src: local('Arvo'),
		url('../fonts/arvo-v9-latin-regular.woff2') format('woff2'),
		url('../fonts/arvo-v9-latin-regular.woff') format('woff');
}
